
<header class="head">
	<div class="headTitle">Cool Mama's Bakery</div>		
	<form class="formLink" action={{navagate.homeLocation}} method="GET">
		<a id="home" class="link" href={{navagate.homeLocation}}>{{navagate.whereHome}}</a>
	</form>		
	<form class="formLink" action={{navagate.lunchLocation}} method="GET">
		<a id="lunch" class="link" href={{navagate.lunchLocation}}>{{navagate.whereLunch}}</a>
	</form>			
	<form class="formLink" action={{navagate.logLocation}} method="GET">
		<a id="login" class="link" href={{navagate.logLocation}}>{{navagate.whereLog}}</a>
	</form>			
</header>

<div class="container-fluid">
	<div class="row">
		<div class="menuTitle">Choose from these hand made delicacies made from the finest ingredients.</div>
	</div>
	<div class="row">
		<form action="/selections/bakeryData" method="POST">
			{{#each bakery}}
				<ul>
					<li>
						<div class="row">
							<div class="col-3">
								<img class="img" src={{bakePic}} alt="Bakery" style="height:auto; width:100%;"/>
							</div>
							<div class="col-7">					
								<div class="bakery">
									<p class="bakeryName">{{name}}</p>
									<p class="bakeryDescribe">{{description}}</p>
								</div>
							</div>
							<div class="col-2">
								<div class="cost">${{cost}}</div>
								<div class="qty">Quantity</div>
								<input type="number" name={{identifier}} class="form-control" placeholder="0">
							</div>
						</div>
					</li>
				</ul>
			{{/each}}
			<button type="submit" class="btn btn-primary">Go to cart</button>								
		</form>	
	</div>
</div>
