
<header class="head">
	<div class="headTitle">Cool Mama's Bakery</div>
	<form class="formLink" action={{navagate.bakeryLocation}} method="GET">
		<a id="bakery" class="link" href={{navagate.bakeryLocation}}>{{navagate.whereBakery}}</a>
	</form>
	<form class="formLink" action={{navagate.lunchLocation}} method="GET">
		<a id="lunch" class="link" href={{navagate.lunchLocation}}>{{navagate.whereLunch}}</a>
	</form>
	<form class="formLink" action={{navagate.logLocation}} method="GET">
		<a id="login" class="link" href={{navagate.logLocation}}>{{navagate.whereLog}}</a>
	</form>	
</header>

<div class="container-fluid home">
	<div class="row">	
		<div class="col-8">
			<img class="oldTime" src="/image/oldTime-wide.png" alt="First Picture" style="height:auto; width:100%;"/>
			<p>We make our items like they did years ago.</p>
			<p>One at a time.</p>
			<p>Not like the mass production of today.</p>	
			<img class="conveyor" src="/image/industrial_multipleLines.png" alt="Second Picture" style="height:auto; width:100%;"/>
			<p>Feel like home when you walk in.</p>
			<p>So welcome to our home!</p>
			<img class="conveyor" src="/image/coolMamasPlace.png" alt="Third Picture" style="height:auto; width:100%;"/>
		</div>
		<div class="col-4">
			<p>Come see us at:</p>
			<div id="map" style="width:100%; height:300px;"></div>
			<p>6439 Highway 9 South</p>
			<p>Columbus, NC 28722</p>
			<p>(828) 894-9461</p>
			<p>Hours: 7AM to 2PM Tuesday through Saturday.</p>
			<p>Closed Sunday and Monday.</p>
			<p>Check out our bakery goods and come back for our lunch sandwiches.</p>
			<p>Always hand made!</p>
		</div>	
	</div>
</div>
	
	

