
<header class="head">
	<div class="headTitle">Cool Mama's Bakery</div>
	<form class="formLink" action={{navagate.bakeryLocation}} method="GET">
		<a id="bakery" class="link" href={{navagate.bakeryLocation}}>{{navagate.whereBakery}}</a>
	</form>
	<form class="formLink" action={{navagate.lunchLocation}} method="GET">
		<a id="lunch" class="link" href={{navagate.lunchLocation}}>{{navagate.whereLunch}}</a>
	</form>
	<form class="formLink" action={{navagate.loginLocation}} method="GET">
		<a id="login" class="link" href={{navagate.loginLocation}}>{{navagate.whereLogin}}</a>
	</form>	
</header>

<div class="container-fluid home">
	<div class="row">	
		<div class="col-8">
			<img class="oldTime" src="/image/oldTime-wide.png" alt="First Picture" style="height:auto; width:100%;"/>
			<p>We make our items like they did years ago.  One at a time.  Not like the mass production of today.</p>	
			<img class="conveyor" src="/image/industrial_multipleLines.png" alt="Second Picture" style="height:auto; width:100%;"/>
			<p>Feel like home when you walk in.  So welcome to our home!</p>
			<img class="conveyor" src="/image/coolMamasPlace.png" alt="Third Picture" style="height:auto; width:100%;"/>
		</div>
		<div class="col-4">
			<div class="where">
				<p class="location">Come see us at:</p>
			</div>
			<div id="map" style="width:100%; height:300px;"></div>
			<div class="address">
				<p class="location">6439 Highway 9 South<br>Columbus, NC 28722<br>(828) 894-9461</p>
			</div>
			<div class="where">
				<p class="location">Hours: 7AM to 2PM Tuesday through Saturday.<br>Closed Sunday and Monday.</p>
			</div>
			<div class="where">
				<p class="location">Check out our bakery goods and come back for our lunch sandwiches.<br>Always hand made!</p>
			</div>	
		</div>	
	</div>
</div>
	
	

