
<header class="head">
	<div class="headTitle">Cool Mama's Bakery</div>
	<form class="formLink" action={{navagate.homeLocation}} method="GET">
		<a id="home" class="link" href={{navagate.homeLocation}}>{{navagate.whereHome}}</a>
	</form>
	<form class="formLink" action={{navagate.bakeryLocation}} method="GET">
		<a id="bakery" class="link" href={{navagate.bakeryLocation}}>{{navagate.whereBakery}}</a>
	</form>
	<form class="formLink" action={{navagate.lunchLocation}} method="GET">
		<a id="lunch" class="link" href={{navagate.lunchLocation}}>{{navagate.whereLunch}}</a>
	</form>	
</header>

<div class="login">
	<div class="loginTitle">Create an account or log into your own account</div>
	<form action="/loggedin/login" method="POST">
		<div class="form-group">
			<label for="emailLocation">Enter your Email address</label>
			<input type="email" class="form-control" name="emailEntry" placeholder="Enter your email here">
			<small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
		</div>
		<div class="form-group">
			<label for="passwordLocation">Enter your Password</label>
			<input type="password" class="form-control" name="passwordEntry" placeholder="How about a Password">
			<small id="passwordHelp" class="form-text text-muted">A minimum five characters with at least one letter and one number.</small>			
		 </div>
		 <button type="submit" class="btn btn-primary">Log In</button>
		 <button type="submit" class="btn btn-primary" formaction="/loggedin/createAccount">Create an Account</button>
	</form>

	{{{message}}}

</div>


