
<header class="head">
	<div class="headTitle">Cool Mama's Bakery</div>
	<form class="formLink" action={{navagate.homeLocation}} method="GET">
		<a id="home" class="link" href={{navagate.homeLocation}}>{{navagate.whereHome}}</a>
	</form>
	<form class="formLink" action={{navagate.bakeryLocation}} method="GET">
		<a id="bakery" class="link" href={{navagate.bakeryLocation}}>{{navagate.whereBakery}}</a>
	</form>
	<form class="formLink" action={{navagate.loginLocation}} method="GET">
		<a id="login" class="link" href={{navagate.loginLocation}}>{{navagate.whereLogin}}</a>
	</form>	
</header>

<div class="container-fluid">
	<div class="row">
		<div class="menuTitle">Choose from these hand made sandwiches with the finest ingredients.</div>
	</div>
	<form action="/selections/lunchData" method="POST">
	<div class="row">
		{{#each sandwich}}
			<ul>
				<li>
					<div class="row">
						<div class="col-3">
							<img class="img" src={{sandPic}} alt="Sandwich" style="height:auto; width:100%;"/>
						</div>
						<div class="col-7">					
							<div class="sandwich">
								<p class="sandwichName">{{name}}</p>
								<p class="sandwichDescribe">{{description}}</p>
								<p>{{emphasis}}</p>
							</div>
						</div>
						<div class="col-2">
							<div class="cost">${{cost}}</div>
							<div class="qty">Quantity</div>
							<input type="number" name={{identifier}} class="form-control" placeholder="0">
						</div>
					</div>
				</li>
			</ul>
		{{/each}}
	</div>
	<div class="row">
		{{#each side}}
			<ul class="horizontal">
				<li>
					<img class="img" src={{sidePic}} alt="Side" style="height:auto; width:120px;"/>
					<div class="sideName">{{name}}</div>
					<div class="cost">${{cost}}</div>
					<div class="qty">Quantity</div>
					<input type="number" name={{identifier}} class="form-control" placeholder="0">
				</li>				
			</ul>
		{{/each}}
	</div>
	<div class="row">
		{{#each drink}}
			<ul class="horizontal">
				<li>
					<img class="img" src={{drinkPic}} alt="Drink" style="height:auto; width:120px;"/>
					<div class="sideName">{{name}}</div>
					<div class="cost">${{cost}}</div>
					<div class="qty">Quantity</div>
					<input type="number" name={{identifier}} class="form-control" placeholder="0">
				</li>				
			</ul>
		{{/each}}
	</div>
	<button type="submit" class="btn btn-primary">Go to cart</button>								
	</form>	
</div>