
<header class="head">
	<div class="headTitle">Cool Mama's Bakery</div>
	<form class="formLink" action={{navagate.homeLocation}} method="GET">
		<a id="home" class="link" href={{navagate.homeLocation}}>{{navagate.whereHome}}</a>
	</form>	
	<form class="formLink" action={{navagate.bakeryLocation}} method="GET">
		<a id="bakery" class="link" href={{navagate.bakeryLocation}}>{{navagate.whereBakery}}</a>
	</form>
	<form class="formLink" action={{navagate.lunchLocation}} method="GET">
		<a id="lunch" class="link" href={{navagate.lunchLocation}}>{{navagate.whereLunch}}</a>
	</form>
	<form class="formLink" action={{navagate.logoutLocation}} method="GET">
		<a id="lunch" class="link" href={{navagate.logoutLocation}}>{{navagate.whereLogout}}</a>
	</form>	
</header>

<div class="container-fluid">
	<div class="row">
		<div class="receiptTitle">Here is a itemized receipt of your {{which.title}} selections.</div>
	</div>
	<div class="row">
		<div class="col-2"></div>
		<div class="col-8">	
			<table class="receiptTable">
				<tr>
					<th><p class="quantity">Quantity</p></th>
					<th><p class="description">Description</p></th>
					<th><p class="price">Price</p></th>
				</tr>
					{{#each receipt}}			
						<tr>
							<td><p class="itemQuantity">{{quantity}}</p></td>				
							<td><p class="itemName">{{name}}
								{{#if multi}}
									<span> (@ ${{cost}} each)<span>
								{{/if}}</p></td>
							<td><p class="itemPrice">${{price}}</p></td>
						</tr>
					{{/each}}
				<tr>
					<td><p class="subTotal"></p></td>
					<td><p class="salesTax">Total: </p></td>
					<td><p class="grandTotal">${{allTotals.total}}</p></td>
				</tr>
				<tr>
					<td><p class="subTotal"></p></td>
					<td><p class="salesTax">Sales Tax: </p></td>
					<td><p class="grandTotal">${{allTotals.tax}}</p></td>
				</tr>
				<tr>
					<td><p class="subTotal"></p></td>
					<td><p class="salesTax">Grand Total: </p></td>
					<td><p class="grandTotal">${{allTotals.grandTotal}}</p></td>
				</tr>
			</table>
		</div>
		<div class="col-2"></div>
	</div>
	<div class="row">			
		<button type="submit" class="btn btn-primary">Go to cart</button>
	</div>								
</div>
