
<header class="head">
	<div class="headTitle">Cool Mama's Bakery</div>
	<form class="formLink" action={{navagate.homeLocation}} method="GET">
		<a id="home" class="link" href={{navagate.homeLocation}}>{{navagate.whereHome}}</a>
	</form>	
	<form class="formLink" action={{navagate.bakeryLocation}} method="GET">
		<a id="bakery" class="link" href={{navagate.bakeryLocation}}>{{navagate.whereBakery}}</a>
	</form>
	<form class="formLink" action={{navagate.lunchLocation}} method="GET">
		<a id="lunch" class="link" href={{navagate.lunchLocation}}>{{navagate.whereLunch}}</a>
	</form>
</header>

<div class="container-fluid">
	<div class="row">
		<div class="receiptTitle">Here is a itemized reciept of your selections so far.</div>
	</div>
	<div class="row">	
		<div class="col-1"></div>
		<div class="col-2">Quantity</div>
		<div class="col-5">Decription</div>
		<div class="col-3">Price</div>
		<div class="col-1"></div>
	</div>
	<div class="row">
		<form action="/receiptData" method="GET">
			{{#each receipt}}
				<ul>
					<li>
						<div class="row">
							<div class="col-1"></div>
							<div class="col-2">
								<p class="itemQuantity">{{quantity}}</p>
							</div>
							<div class="col-5">					
								<p class="itemDescription">{{description}}</p>
							</div>
							<div class="col-3">
								<p class="itemPrice">${{price}}</p>
							</div>
							<div class="col-1"></div>
						</div>
					</li>
				</ul>
			{{/each}}
		<div class="row">
			<div class="col-1"></div>
			<div class="col-2"></div>
			<div class="col-5">
				<p class="taxDescription">Sales Tax</p>
			</div>
			<div class="col-3">
				<p class="salesTax">${{tax}}</p>
			<div class="col-1"></div>
		</div>
		<div class="row">
			<div class="col-1"></div>
			<div class="col-2"></div>
			<div class="col-5">
				<p class="totalAmount">Total Amount:</p>
			</div>
			<div class="col-3">
				<p class="total">${{total}}</p>
			<div class="col-1"></div>
		</div>						
			<button type="submit" class="btn btn-primary">Go to cart</button>								
		</form>
	</div>
</div>